<p class="pageHeader">NEW DEPARTMENT</p>

<form action="/departments" method="post">

    <label for="title">First Name: </label>
    <input class="inputbox" type="text" name="title" required id="title"/>

    <input type="submit" class="button" value="Save"/>

</form>