<p class="pageHeader">DEPARTMENT</p>

<div class="container">
    <table>
        <tr>
            <th>Title: </th>
            <th>Manager: </th>
            <th>Budget: </th>
        </tr>

        <tr>
            <td>$department.title</td>
            <td>$manager.firstName $manager.lastName</td>
            <td>$manager.budget</td>
        </tr>
    </table>
</div>