<!DOCTYPE html>
<html>
<head>
    <title>Employee Records</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div>
        <nav>
            <ul>
                <li><a href="/employees" class="navLink">EMPLOYEES</a></li>
                <li><a href="/engineers" class="navLink">ENGINEERS</a></li>
                <li><a href="/managers" class="navLink">MANAGERS</a></li>
                <li><a href="/departments" class="navLink">DEPARTMENTS</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        #parse( $template )
    </div>
</body>
</html>